---
apiVersion: v1
kind: Namespace
metadata:
  name: dev-app
  
---
apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: dev-app
  name: dev-deployment
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: dev-app
  replicas: 5
  template:
    metadata:
      labels:
        app.kubernetes.io/name: dev-app
    spec:
      containers:
      - image: dushansri/mywebapp:20221001215808
        imagePullPolicy: Always
        name: dev-app
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  namespace: dev-app
  name: dev-service
spec:
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: NodePort
  selector:
    app.kubernetes.io/name: dev-app

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: dev-app
  name: ingress-dev
  annotations:
    alb.ingress.kubernetes.io/group.name: {{cluster_name.stdout[1:-1]}}
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
spec:
  ingressClassName: alb
  rules:
  - host: devapp.example.com
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: dev-service
            port:
              number: 80