apiVersion: v1
kind: ServiceAccount
metadata:
  annotations:
    eks.amazonaws.com/role-arn: {{ alb_ingress_service_account_role_arn.stdout }}
  labels:
    app.kubernetes.io/managed-by: ansible
  name: aws-load-balancer-controller
  namespace: kube-system
